HOST=localhost
PORT=4000
PRODUCTION_HOST=https://api-ecom.duthanhduoc.com
SECRET_KEY_JWT=asdlkfjasdasdajflajsldfkj
DB_URL=mongodb+srv://letung1227:cOhc9nWMbtGbZtMB@cluster0.ycjjawi.mongodb.net/database
CLOUD_NAME = dooyip2jn
CLOUD_KEY = 336513891227453
API_SECRET =LV3634SRT1KoEDNC3awYUi9u7k4